%h1 Teilnehmer
= will_paginate
%table
  %thead
    %td Vorname
    %td Name
    %td Geburtsdatum
    %td akt. Alter
    %td Geschlecht
    %td Postleitzahl
  %body
    - @children.each do |child|
      = render child
= will_paginate
= link_to "Neues Kind", new_child_path
