%tr
  %td
    = link_to group.name, group_path(group), :id => group.id
    = link_to "  edit", edit_group_path(group), :id => group.id
  %td{:align => "center"}=group.user.fullname
  %td{:align => "center"}=group.starts_at
  %td{:align => "center"}=group.ends_at
  %td{:align => "center"}=group.ag(group.agegroup)
  %td{:align => "center"}=group.king(group.kindergarden)
  %td{:align => "center"}=group.cat(group.category)
  %td{:align => "center"}=group.duration
  %td{:align => "center"}=group.intm(group.intermittency)
  - if group.starts_at != nil
    %td=time_ago_in_words(group.starts_at)

  
