%h1= "Gruppe: " + @group.name
%div{ :class => "row" }
  %div
    - if @noc.nil?
      %table
        %thead
          %td Vorname
          %td Name
          %td Geburtsdatum
          %td Geschlecht
          %td Postleitzahl
        %body
        - @children.each do |child|
          = render child
    - else
      %p Die Gruppe hat noch keine Teilnehmer
    - if @noa.nil?
      %h3 Termine
      %table
        %tr
          %td Datum
          %td entfallen
          %td Grund
          %td Kommentar
        - @appointments.each do |appointment|
          = render appointment
  
