- if @user.errors.any?
  %div{ :id => "error_explanation" }
    %div{ :class => "alert alert-error" }
      Das Formular beinhaltet #{ pluralize(@user.errors.count, "error") }
    %ul
    = @user.errors.full_messages.each do |msg|
      %li= msg
