%h1 #{ title }
%p 
  This is a first draft of the documentation software for the sports project in cooperation with the Kindersportzentrum SC DHfK
= link_to "Login", "#", :class => "signup_button round"
